{% load static %}

<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static './css/contactui.css' %}">
</head>
<body>
    <div class="nav">
        <ul class="holder">
            <span class="img"><img src="{% static './images/MOHAMMED SCHOL.png' %}" alt="" srcset=""></span>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a class="Gallery" href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'alumni' %}">Alumni</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </div>
    <div class="hero">
        <p class="head">Contact Us</p>
        <p>Dear Students/Alumnus</p>
        <br><br>
        If any Queries Regarding the Events Published / Profile / Website you can Contact the Admin through:
        <br><br>
        Email : <a href="mailto:mohammedadmin@gmail.com">mohammedadmin@gmail.com</a>
        <br>
        <p>Phone No: 98XXXXXXXX <br><br><span class="no2">27XXXXXXXX</span> </p>
    </div>
</body>
</html>
